extends layout

block content
    body.main-screen
        main
            .item
                .icon
            .item
                .icon
            .item
                .icon
            .item
                .icon
            .item
                .icon
            .title
                h1= title
            .item
                .icon
            .item
                .icon
            .item
                .icon
            .item
                .icon
            .item
                .icon
