extends layout

block content
    body.large-screen
        main
            .item
                .icon
            .item
                .icon
            .item
                .icon
            .item
                .icon
            .item
                .icon
            .title
                h1= title
            .item
                .icon
            .item
                .icon
            .item
                .icon
            .item
                .icon
            .item
                .icon
